.back{
    position: absolute;
    left: 500px;
}
.high{
    font-size: x-large;
}

#jishu{
    position: absolute;
    left: 680px;
   bottom: 50px;
}
.list{
    height: 430px;
    width: 380px;
    border: 1px solid orange;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 10px black;
    position: relative;
    margin: auto;
    right:120px;}
.head2{
        font-weight: lighter;
        color: gray;
        font-size: 2rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .paris{
        color: tomato;
        font-size: 1.6rem;
        margin: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .compltd{
        color: tomato;
        text-decoration: line-through;
        font-size: 1.5rem;
    }
    hr{
        text-decoration: none;
        color: gray;
    }
    span{
        color: black;
    }
    body,html{
        margin: 0;
        padding: 0;
    }
    i{
        background-color: orange;
        font-size: 1.5rem;
        color: white;
        border-radius: 100%;
        padding: 10px;
        margin-top: 40px;
    }